# Create a new API key under Your Space > Settings > API Keys
# You will find the SPACE_ID there too.
NEXT_PUBLIC_SPACE_ID=
NEXT_PUBLIC_ACCESS_TOKEN=

# Create a new Preview Token on Your Space > Settings > Content Preview
PREVIEW_ACCESS_TOKEN=
# This can by any value you want. Make sure it is the same from the Content Preview URL
PREVIEW_SECRET=

# Your website URL. Use http://localhost:3000 for local development
NEXTAUTH_URL=http://localhost:3000

# The Platzi's auth secret
AUTH_PLATZI_SECRET=

# Create a new oAuth App on your GitHub
# https://github.com/settings/apps
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
